/* Footer.css */
.footer {
    background-color: #113459; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    text-align: center;
    padding: 1rem;
    bottom: 0; /* Lo coloca al fondo */
    left: 0; /* Asegura que esté al inicio horizontal */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav {
    margin-bottom: 0.5rem;
}

.footer-link {
    margin: 0 1rem;
    text-decoration: none;
    color: #f4f4f9;
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

.footer-link:hover {
    color: #7CF5FF !important; 
    background-color: transparent !important;
    text-decoration: none; 
    text-shadow: 0 0 10px #7CF5FF, 0 0 20px #7CF5FF, 0 0 30px #7CF5FF !important; 
}